.divBackground {
    position:absolute;
    display:block;
    height:100%;
    width:100%;
    left:0;
    z-index:-1;
}

.centerDiv {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fontColor {
    color: rgba(244, 237, 255, 0.81)
}

.navText {
    position: relative; left: 10%;
}

