<div class="modal-header">
    <h3 class="modal-title">Restricted Questions</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="restrictedQuestion in answer.restrictedQuestions">
            <a href="#" ng-click="$event.preventDefault(); selected = answer.restrictedQuestions[0]">{{ answer.restrictedQuestions[0] }}</a>
        </li>
    </ul>
    Selected: <b>{{ selected }}</b>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>