<form ng-submit="addRestricted()" onload="loaded()">
    <div class="modal-header">
        <h3 class="modal-title">Restricted Questions</h3>
    </div>
    <div class="modal-body">
        <p ng-show="hasRestrictedQuestions()">No restricted questions selected for this answer.</p>
        <ul>
            <li ng-repeat="restrictedQuestion in answer.restrictedQuestions">
                <a href="#" ng-click="removeQuestion($index)"><i class="fa fa-trash-o fa-fw"></i></a>
                <a href="#" ng-click="goToQuestion(restrictedQuestion.number)">
                    {{ restrictedQuestion.number }} - {{ restrictedQuestion.text }}
                </a>
            </li>
        </ul>
        <div class="form-group">
            <br>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-10">
                        <angucomplete-alt id="restrictedQuestionSelector"
                                          placeholder="Search questions"
                                          pause="100"
                                          selected-object="questionToAdd"
                                          local-data="allQuestions"
                                          search-fields="number,text"
                                          title-field="number,text"
                                          minlength="1"
                                          input-class="form-control form-control-small"
                                          match-class="highlight"
                                          field-required="true">
                        </angucomplete-alt>
                    </div>
                    <div class="col-md-2">
                        <button type=submit class="btn btn-success" id="addButton" ng-click="addRestricted()">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>