<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/questionStyle.css">
</head>
<body>

<div ng-switch on="question.type">
    <div simple-question ng-switch-when="Simple"></div>
    <div yes-no-question ng-switch-when="YesNo"></div>
    <div grade-question ng-switch-when="Grade"></div>
</div>

<p class="fontColor" style="margin-left:20px">Question Number {{ question.number }}</p>

<div style="margin-left:20px">
    <button class="btn btn-info btn-sm">Back</button>
</div>

</body>
</html>