<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Question</title>
</head>
<body>
<div class="container-fluid">
    <div class="alert alert-success" role="alert" ng-show="IsSaved">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="removeSaveSucceed()">&times;</a>
        <strong>Success!</strong> Question Saved with number {{ question.number }}.
    </div>
    <div class="alert alert-danger" role="alert" ng-show="IsError">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="removeSaveFailed()">&times;</a>
        <strong>Failed!</strong> question not saved.
        <br>
        Errors:
        <div ng-repeat="error in serverErrors">
            {{ error.message }}
        </div>
    </div>

    <h2>{{ pageTitle }}</h2>
    <br>

    <div class="container" ng-show="isNewQestion">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Question Type
                <span class="caret"></span>
            </button>
            <ul id="questionTypeDropDown" class="dropdown-menu" ng-click="changeQuestionType()">
                <li><a href="#">Simple</a></li>
                <li><a href="#">YesNo</a></li>
            </ul>
        </div>
    </div>
    <br>

    <div class="container">

        <form role="form">
            <div class="animate-switch-container" ng-switch on="question.type">
                <div edit-simple-question ng-switch-when="Simple"></div>
                <div edit-yes-no-question ng-switch-when="YesNo"></div>
            </div>

            <div class="buttonWrapper" ng-show="question.type !== undefined">
                <input type="submit" value="Save" ng-click="save()" class="btn btn-info btn-lg">
            </div>
        </form>
    </div>
</div>
</body>
</html>