<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Question</title>
</head>
<body>
<div class="container-fluid">
    <div class="alert alert-success" role="alert" ng-show="IsSaved">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="removeSaveSucceed()">&times;</a>
        <strong>Success!</strong> Question Saved with number {{ question.number }}.
    </div>
    <div class="alert alert-danger" role="alert" ng-show="IsError">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="removeSaveFailed()">&times;</a>
        <strong>Failed!</strong> question not saved.
        <br>
        Errors:
        <div ng-repeat="error in serverErrors">
            {{ error.message }}
        </div>
    </div>

    <div class="container">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Question Type
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Simple</a></li>
                <li><a href="#">YesNo</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <h2>{{ pageTitle }}</h2>

        <form role="form">
            <div class="form-group">
                <label for="question">Question:</label>
                <br>
                <input type="text" ng-model="question.text" class="form-control" id="question">
                <a ng-click="addAnswer()" class="btn btn-success" id="addButton">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a>
            </div>

            <div ng-repeat="answer in question.possibleAnswers" class="form-group">
                <label for="answer">Answer:</label>
                <br>
                <input type="text" class="form-control" ng-model="answer.text" id="answer">
                <a class="btn btn-danger remove_fields" ng-click="removeAnswer()" ng-show="$last" id="removeButton">
                    <i class="glyphicon glyphicon-minus-sign"></i>
                </a>
            </div>
            <input type="submit" value="Save" ng-click="save()" class="btn btn-info btn-lg">
        </form>
    </div>
</div>
</body>
</html>