<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">

    <div class="alert alert-danger" role="alert" ng-show="IsError">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="removeFailedMessage()">&times;</a>
        <strong>Failed!</strong> question not saved.
        <br>
        Errors:
        <div ng-repeat="error in serverErrors">
            {{ error.message }}
        </div>
    </div>

    <button class="btn btn-success" ng-click="newQuestion()">
        <span class="glyphicon glyphicon-plus-sign"></span>  Create New Question
    </button>

    <br>
    <br>

    <table class="table table-condensed table-striped  table-hover" style="width: auto !important;">
        <thead>
        <tr>
            <th>Number</th>
            <th width="70%">Question</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="question in allQuestions">
            <td>{{ question.number }}</td>
            <td>{{ question.text }}</td>
            <td>
                <button class="btn" ng-click="editQuestion(question)">
                    <span class="glyphicon glyphicon-pencil"></span>  Edit
                </button>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deleteQuestion(question, $index)">
                    <span class="glyphicon glyphicon-trash"></span>  Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>